.calendar {
    width: 90%;
    margin: 0 auto;
}

.days, .labels {
    padding-left: 3.7%;
}

.days {
    display: flex;
    justify-content: space-between;
    height: 2880px;
}

.day, .day-label {
    width: 14.2%;
}

.day:nth-child(even) {
    background-color: #efefef;    
}

.day:nth-child(odd) {
    background-color: #f7f7f7;
}

.labels {
    display: flex;
    justify-content: space-between;
    padding-top: 29px;
    padding-bottom: 9px;
}

.day-label {text-align: center;}

.day-label-day {margin-bottom: 6px;}

.day-label-date {
    
}

.time-blocks {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9000;  
}

.time-block {
    width: 100%;
    /*height: 2px;*/
    position: absolute;
    z-index: 9999;    
}


.timeblock.filled {
    background-color: red;
}

.time-block-popup-wrapper {
    height: 100%;
    width: 100%;
}

.time-block-popup {
    position: fixed;
    width: 30%;
    left: 50%;
    top: 50%;
    outline: 0;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 9999;
}

.time-block-popup-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;    
    width: 100%;
    z-index: 9998;
}

.tbp-field {/* display: flex; *//* justify-content: space-between; *//* margin-bottom: 0.7rem; */padding: .5rem 1rem;border-bottom: 1px solid #eee;}

.tbp-label {}

.tbp-value {font-size: .9rem;color: #5b6aa5;}

.field-dropdown {display: flex;justify-content: space-between;padding: 0.5rem 1rem;background-color: #eee;margin-top: 0.9rem;}

.incrementer {

}

.incrementer-value {display: inline-block;margin-right: 0.4rem;}

.incrementer-btns {display: inline-block;vertical-align: middle;}

.incrementer-btn {display: block;padding: 0;font-size: 0.9rem;width: 100%;}

.time-graph {
    position: absolute;
    right: 0%;
    width: 96.3%;
    z-index: 8000;
    pointer-events: none;
}

.line-container {
    height: calc(2px * 30);
}

.line-container.solid {
    border-bottom: 1px solid #aaa;
}

.line-container.dotted {
    border-bottom: 1px dashed #aaa;
}

.line-label {color: #888;position: absolute;bottom: 0;transform: translate3d(-150%, 50%, 0);}
