.fieldset {
  
}

.form {

}

.input {
  width: 7rem;
}

.text-area {height: 7rem;}

.input, .text-area {
  border: 1px solid #ddd;
  padding: 0.6rem;
  outline: 0;
  width: 18rem;
}

.form-error {
  
}