.new-task {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  padding: 4rem 0;
  /* align-items: center; */
  justify-content: center;
}

.task-area {margin-bottom: 3rem;}
.task-form {

}

.task-input {display: block;margin-bottom: 2rem;}

.color-options {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-bottom: 2rem;
}

.color-option {
  border: 2px solid #ccc;
  width: 2rem;
  height: 1.5rem;  
}

.color-option.selected {
  border: 4px solid #d0d000;
}

.color-option.red {background-color: red;}
.color-option.orange {background-color: orange;}
.color-option.yellow {background-color: yellow;}
.color-option.green {background-color: green;}
.color-option.blue {background-color: blue;}
.color-option.purple {background-color: purple;}
.color-option.grey {background-color: grey;}
.color-option.teal {background-color: teal;}

.goal-area {

}

.goal-options {margin-bottom: 3rem;}

.goal-option-group {display: inline-block;margin-right: 3rem;}

.goal-option {display: inline-block;margin-right: 1rem;}

.goal-option-label {margin-right: 1rem;}

.goal-option input {
  
}

.goal-wrapper {margin-bottom: 1.4rem;}

.goal-label {margin-right: 1rem;}

.goal-input {

}

.goal-input-btn {

}