.task-type {margin-bottom: 2rem; font-size: 1.3rem;}

@media (min-width: 700px) {
  .task-type {  
    font-size: 1rem;
  }
}

.tasks-subtitle {
  font-size: 0.7em;
  left: -2rem;
  margin-bottom: .5rem !important;
  text-transform: uppercase;
  color: #aaa !important;
}

.tasks {
  padding: 0;
}

.task {margin-bottom: .5rem;}

.task:hover + .task-popup {
  /*display: block;*/
}

.task-label {margin-right: 1rem;}

.task-btn {
  border-bottom: 1px solid #aaa;
  /* height: 1rem; */
  width: 4rem;
  margin-right: 0.6rem;
  vertical-align: middle;
}

.task-btn > .hollow {
  color: #999;
  bottom: 0;
}

.task-btn > .solid {
  color: #444;
  bottom: 0;
}

.count {
  margin-right: 0.6rem;
  color: #aaa;
  font-size: .8rem;
}

.increment-btns {

}

.increment-btn {
  outline: 0;
}


/*.task*/